docker.enabled = true
container = "cbreuer/rnaseq:latest"

process {
     executor = 'local'
  }

params {
	 // Input files
	reads    = "$baseDir/fqmini/*_{R1,R2}.fastq"
	metadata = "$baseDir/metadata3.csv"

	 // Script locations
	deseq2script = "$baseDir/DESeq2.R"
	ctMatrixScript = "$baseDir/makeCountsMatrix.R"

	 // Genome files
	starGenomeDir = "$baseDir/genomes/star_idx_chrM"
	fc_gtf = "$baseDir/genomes/salmon_idx_chrM/gc48.chrM.gtf"

	 // Output directory organization
	starOutDir = "$baseDir/analysis/star_output"
	starBamDir = "$baseDir/analysis/star_bam"
	umiOutDir = "$baseDir/analysis/umi_dedup"
	umiCountOutDir = "$baseDir/analysis/umi_count"
	countsOutDir = "$baseDir/analysis/counts"
	deOutDir = "$baseDir/analysis/de"
	fcOutDir = "$baseDir/analysis/featureCounts"

	 // featureCounts parameters
	fc_feature = 'exon'
	fc_attr = 'gene_id'
	fc_strand = '0'  // 0 (unstranded), 1 (stranded) and 2 (reversely stranded)
	fc_extra = ''

	 // Count Matrix File Name (must be .csv)
	countsMatrix = "countsMatrix.csv"

	 // UMI deduplicate params
	umi_tag = 'RX'
	paired_end = '--paired'
	umi_spliceduniq = '--spliced-is-unique'
	umi_dedup_opts = ''
	use_umi_dedup = true

}